<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение хумана</title>
</head>
<body>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>

<h1>Изменение хумана id <span th:text="*{id}">VALUE</span></h1>

<br>
<form th:method="PATCH" th:action="@{/admin/edit}" th:object="${user}">

    <label for="id"></label><input type="text" th:field="*{id}" id="id" hidden>

    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username" required/>
    <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"> VALUE</div>

    <br><br>
    <label for="email">Email</label>
    <input type="email" th:field="*{email}" id="email" required/>
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"> VALUE</div>

    <br><br>
    <label for="password">Password</label>
    <input type="password" th:field="*{password}" id="password" required/>
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"> VALUE</div>

    <br><br>
    <label for="roles">Role</label> <br>
    <select th:field="*{roles}" id="roles" multiple required>
        <option th:each="role : ${roles}"
                th:value="${role.id}"
                th:text="${role.toString()}">
        </option>
    </select>
    <div style="color: red" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"> VALUE</div>

    <br><br><br>
    <input type="submit" value="Edit"/>
    <input type="reset" value="Reset"/>
</form>

</body>
</html>