<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
</head>
<body>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>

<h1>User information-page</h1>

<br><br>
<div>
    <table th:border="1" th:cellpadding="10">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Roles</th>
        </tr>
        <tr>
            <td th:utext="${user.getId()}">VALUE</td>
            <td th:utext="${user.getUsername()}">VALUE</td>
            <td th:utext="${user.getEmail()}">VALUE</td>
            <td th:utext="${user.rolesToString()}">VALUE</td>
        </tr>

    </table>
</div>

</body>
</html>